<div class="modal fade" id="resumeTitleModal" tabindex="-1" role="dialog" aria-labelledby="resumeTitleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resumeTitleModalLabel">Set Your Resume Title</h5>
            </div>
            <div class="modal-body">
                <label for="">Title</label>
                <input type="text" id="resumeTitle" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="resumeTitleButton">Continue</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>