{% extends 'base.html' %} 
{% load static %} {% block title %}Engineer's Resume{%endblock title %} 
{% block styles %}   
<link href={% static "resume_template.css" %} rel="stylesheet">
{% endblock styles %}
{% block content %}
{% include "includes/resume_body.html" %}
<a href="{% url 'download_resume_pdf' %}" class="btn btn-primary">Download Resume as PDF</a>
{% endblock content %} {% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
{% endblock js %}
