{% extends 'base.html' %}
{% load static %}
{% block title %}Resume Builder{% endblock title %}
{% block content %}
{% comment %} <p class='text-center'>Only <a href="/personal_detail">Template</a>!</p>

<h1 class='text-center'>Start building a <a href="/new-resume">new resume</a></h1> {% endcomment %}
{% csrf_token %}
{% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }}!</h1>
    {% if resumes %}
        <p>Here's a list of your previous resumes:</p>
        <ul>
        {% for resume in resumes %}
            <li>{{ resume.title }} - <a href="personal_detail">View</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any resumes yet.</p>
    {% endif %}
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#resumeTitleModal">Start a new resume</button>
    {% include "includes/resume_title_modal.html" %}
{% else %}
    <!-- For unauthenticated users -->
    <button><a href="{% url 'resume_form' %}">Start building your resume</a></button>
{% endif %}
{% endblock content %}
{% block js %}
<script src="{% static 'js/resume_title.js' %}"></script>
{% endblock js %}