{% extends 'base.html' %}
{% block title %}Certification{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3 mb-3" style="width:80%">
    <h1 class="text-center mt-1">Certification</h1>
    <form action="" method="POST" class="card p-3 mt-5" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-6"> {{form.name|as_crispy_field}} </div>
            <div class="col-6"> {{form.issuing_org|as_crispy_field}} </div>
        </div> 
        <div class="row">
            <div class="col-6"> {{form.date_issued|as_crispy_field}} </div>
            <div class="col-6 "> {{form.expiration_date|as_crispy_field}} </div>
        </div> 
        {{form.cert_url|as_crispy_field}} 
        <div class="d-flex justify-content-between flex-wrap">
            <div>
                <a href="skill" type="button" class="btn btn-outline-secondary m-3" style="width:auto; font-weight:bold">Back</a>
                <button type="submit" class="btn btn-outline-success m-3" style="width:auto; font-weight:bold">Next</button>
            </div>
            {% if end_status %}
            <div>
                <a href="resume_preview" type="button" class="btn btn-outline-warning m-3" style="width:auto; font-weight:bold">Review</a>
            </div>
            {% endif %}
        </div>  
    </form>
</div>
{% endblock content %}

