{% extends 'base.html' %}
{% block title %}Personal Details{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3 mb-3" style="width:80%">
    <h1 class="text-center mt-1">Personal Details</h1>
    <form action="" method="POST" class="card p-3 mt-5" autocomplete="off" novalidate>
        <!-- add for loop, except description -->
        {% csrf_token %}
        <div class="row">
            <div class="col-6"> {{form.first_name|as_crispy_field}} </div>
            <div class="col-6"> {{form.last_name|as_crispy_field}} </div>
        </div>

        <div class="row">
            <div class="col-6"> {{form.email|as_crispy_field}} </div>
            <div class="col-6"> {{form.phone_number|as_crispy_field}} </div>
        </div>
        <div class="row">
            <div class="col-6"> {{form.city|as_crispy_field}} </div>
            <div class="col-6 "> {{form.state|as_crispy_field}} </div>
        </div> 
        <div class="row">
            <div class="col-6"> {{form.linkedin_url|as_crispy_field}} </div>
            <div class="col-6 "> {{form.github_url|as_crispy_field}} </div>
        </div> 
        <div class="d-flex justify-content-between flex-wrap">
            <div>
                <a href="{% url 'resume_builder:resume_dashboard' %}" type="button" class="btn btn-outline-secondary m-3" style="width:auto; font-weight:bold">Back</a>
                <button type="submit" class="btn btn-outline-success m-3" style="width:auto; font-weight:bold">Next</button>
            </div>
            {% if end_status %}
            <div>
                <a href="{% if request.user.is_authenticated %}{% url 'resume_builder:auth_preview' resume_id %}{% else %}{% url 'resume_builder:unauth_preview' %} {% endif %}" type="button" class="btn btn-outline-warning" style="width:auto; font-weight:bold">Review</a>
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock content %}