{% extends 'base.html' %}
{% block title %}Resume Preview{% endblock title %}
{% block content %}
<h1 class="text-center mt-3">Resume Preview</h1>
<ul class="list-group m-5">
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:education' %}{% else %}{% url 'unauth:education' %}{% endif %}" >Education</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:work_experience' %}{% else %}{% url 'unauth:work_experience' %}{% endif %}" >Work Experience</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:skill' %}{% else %}{% url 'unauth:skill' %}{% endif %}" >Skills</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:certification' %}{% else %}{% url 'unauth:certification' %}{% endif %}" >Certifications</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:project' %}{% else %}{% url 'unauth:project' %}{% endif %}" >Projects</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:languaget_digit' %}{% else %}{% url 'unauth:language' %}{% endif %}" >Languages</a></li>
</ul>
<h3 class="text-center">Generate Your <a href="start-build">RESUME</a></h3>
{% endblock content %}