{% extends 'base.html' %}
{% block title %}Resume Preview{% endblock title %}
{% block content %}
<h1 class="text-center mt-3">Resume Preview</h1>
<ul class="list-group m-5">
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:education' resume_id%}{% else %}{% url 'unauth:education' %}{% endif %}" >Education</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:work_experience' resume_id%}{% else %}{% url 'unauth:work_experience' %}{% endif %}" >Work Experience</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:skill' resume_id%}{% else %}{% url 'unauth:skill' %}{% endif %}" >Skills</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:certification' resume_id%}{% else %}{% url 'unauth:certification' %}{% endif %}" >Certifications</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:project' resume_id%}{% else %}{% url 'unauth:project' %}{% endif %}" >Projects</a></li>
    <li class="list-group-item"><a href="{% if request.user.is_authenticated %}{% url 'auth:language' resume_id%}{% else %}{% url 'unauth:language' %}{% endif %}" >Languages</a></li>
</ul>
{% include "includes/resume_body.html" %}
<div class="text-center">
    <a href="{% if request.user.is_authenticated %}{% url "pdfs:auth_download" resume_id %}{% else %}{% url 'pdfs:unauth:download' %}{% endif %}" class="m-1 btn btn-primary">Download Resume as PDF</a>
</div>

{% comment %} <a href="{% url 'download_resume_pdf' %}" class="btn btn-primary">Download Resume as PDF</a> {% endcomment %}
{% endblock content %}