{% extends 'base.html' %}
{% block title %}Resume Preview{% endblock title %}
{% block content %}
<h1>Resume Preview</h1>
<ul class="list-group m-5">
    <li class="list-group-item"><a href="/education">Education</a></li>
    <li class="list-group-item"><a href="/work-experience">Work Experience</a></li>
    <li class="list-group-item"><a href="/skills">Skills</a></li>
    <li class="list-group-item"><a href="/certification">Certifications</a></li>
    <li class="list-group-item"><a href="/project">Projects</a></li>
    <li class="list-group-item"><a href="/language">Languages</a></li>
</ul>
{% endblock content %}